**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.pytest_cache
**/htmlcov
**/.DS_Store
**/.git
**/.gitignore
**/README.md
**/Dockerfile*
**/docker-compose*
**/node_modules
**/.env
**/db.sqlite3
**/media/
**/qr_codes/
**/*.md
**/*.log